// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body {
//   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
//   background-image: url();
// }
.well img {
  width: 50%;
}

 html,body{
  background-image: url('cork-wallet.png') no-repeat top;
  background-size: cover;
 }
 header{
  margin-bottom: 9%;
 }
 .navbar-default{
  background-image: url('cork-wallet.png') no-repeat top;
  border: solid;
 }
 .navbar-default .navbar-nav > li > a {
  color: #0000cc;
  font-size: 125%;
}

.navbar-brand > img {
  max-width: 25px;
  height: auto;
}
 .container-fluid{
  padding:0 5%;
 }
 .btn .btn-shopping{
  align: right;
 }
 h1{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 12vw;
  color:#0000cc;
 }
 @media all and (min-width: 768px){
   h1{
    font-size: 6vw;
   }
}
header h1{
  text-align: center;
}
 h2{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 7vw;
  line-height: 1.25;
  color:#0000cc;
 }
 @media all and (min-width: 768px){
   h2{
    font-size: 2.5vw;
   }
}
 .rating{
  color:#6666ff;
 }
 a{
  color:#6666ff;
 }
 input{
  color:#6666ff;
 }
 .product_single{
  background: #e6e6ff;
  padding: 10px;
  color: #0000cc;
  box-shadow: 0 3px 3px rgba(0,0,0,0.35);
  min-height: 580px;
  border-radius: 15px;
  border: solid #00008b 4px;
  margin-bottom: 15px;
 }
 .product_single_image{
  margin-bottom: 15px;
 }
 .btn{
  margin-top:20px;
 }

 .product_header{
  height: 50px;
 }

 .discount-item {
  color: red;
 }
