<h1>The Tea Store</h1>
<h2>All Products</h2>
<% @products.each do |product| %>
  <h2><%= product.name %></h2>
  <p><%= product.price %></p>
  <img src= "<%= product.image %>">
  <p><%= product.description %></p>
<% end %>